<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SB3Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins"/>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <SB3Utility.Properties.Settings>
   <setting name="PluginsDoNotLoad" serializeAs="String">
    <value>fbxsdk-2012.2.dll;SB3UtilityFBX.dll;SB3UtilityPP.dll</value>
   </setting>
  </SB3Utility.Properties.Settings>
 </applicationSettings>
</configuration>
