<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SB3Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins"/>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <SB3Utility.Properties.Settings>
   <setting name="PluginsDoNotLoad" serializeAs="String">
    <value>fbxsdk-2012.2.dll;SB3UtilityFBX.dll;SB3UtilityPP.dll</value>
   </setting>
   <setting name="LoadIrrKlang" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Wireframe" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowNormals" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowBones" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Culling" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoCenterView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Sensitivity" serializeAs="String">
    <value>0.01</value>
   </setting>
   <setting name="KeepBackupOfPP" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeepBackupOfXX" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CaptureCommands" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutosaveCommands" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LightDiffuseARGB" serializeAs="String">
    <value>FF999999</value>
   </setting>
   <setting name="LightAmbientARGB" serializeAs="String">
    <value>FF4C4C4C</value>
   </setting>
   <setting name="LightSpecularARGB" serializeAs="String">
    <value>00000000</value>
   </setting>
   <setting name="FbxImportAnimationEulerFilter" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FbxImportAnimationFilterPrecision" serializeAs="String">
    <value>0.25</value>
   </setting>
  </SB3Utility.Properties.Settings>
 </applicationSettings>
</configuration>
